<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %} My Team {% endblock %}
{% block content %}

<div class="container mx-auto p-6">
  <div class="flex justify-center items-center gap-5 text-center text-xl mt-4">
    <h1 class="p-5 text-center text-4xl font-semibold font-kanit">My Team</h1>
    <p>Total Points: {{ team.total_points }}</p>
    <p>Total Coins: {{ team.coins }}</p>
  </div>

  <div class="grid grid-cols-3 gap-6 mx-auto pt-14 w-[65%]">
    {% for position, player in players.items() %}
    <div class="rounded-2xl border-2 p-4 shadow-sm bg-slate-100 text-slate-600">
      <h2 class="text-center text-2xl font-semibold">
        {{ position.replace('_', ' ').title() }}
      </h2>
      <div
        class="rounded-2xl card h-64 w-56 border-2 shadow-sm bg-slate-300 text-slate-600 mx-auto"
      >
        <!-- player picture -->
        <div
          class="rounded-t-[14px] w-full h-[124px] bg-slate-50 flex justify-center"
        >
          <img
            src="{{ player.person_picture }}"
            alt="{{ teams[player.team_id].team_name }} logo"
            class="size-36 object-contain"
          />
        </div>

        <!-- player name -->
        <h1 class="font-black text-center pt-3">{{ player.player }}</h1>
        <div class="flex justify-center items-center my-2">
          <img
            src="{{ teams[player.team_id].team_logo }}"
            alt="{{ teams[player.team_id].team_name }} logo"
            class="size-6 object-contain"
          />
          <p class="text-center">
            <span>{{ player.position }}</span>
            ·
            <span>{{ player.overall }} OVR</span>
          </p>
        </div>

        <p class="text-center">
          <span class="text-xl font-black">{{ player.price }}</span>
          <span class="size-6 mb-2 inline-block align-middle">
            {% include 'components/gem.html' %}
          </span>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
