<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %} Player Shop {% endblock %}
{% block content %}
{% include 'components/header.html' %} 
{% include 'components/usernav.html' %}

<div class="container mx-auto p-10 my-14 overflow-scroll">
  <h1 class="text-center text-4xl font-black">Player Shop</h1>
  <p class="text-center text-2xl font-extralight mt-4 mb-14">
    Select Player by Team!
  </p>

  <div id="cards-container" class="grid grid-cols-5 gap-4">
    {% for team in teams %}
    <div class="card bg-white p-4 rounded shadow border-2 h-96">
      <h1 class="text-xl font-bold">{{ team['team_name'] }}</h1>
      <img
        src="{{ team['team_logo'] }}"
        alt="{{ team['team_name'] }} logo"
        class="w-full h-40 object-contain"
      />
      <p>City: {{ team['team_city'] }}</p>
      <p>State: {{ team['team_state'] }}</p>
      <p>Founded: {{ team['year_founded'] }}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
