<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %} Player Stats {% endblock %}
{% block content %}
{% include 'components/header.html' %} 
{% include 'components/usernav.html' %}

<div class="container mx-auto p-10 my-14 overflow-scroll">
  <h1 class="text-center text-4xl font-black">Player Stats</h1>
  <p class="text-center text-2xl font-extralight mt-4 mb-14">
    View all Player Stats here!
  </p>

  <div id="cards-container" class="grid grid-cols-5 gap-4">
    {% for player in players %}
    <div class="card bg-white p-4 rounded shadow border-2 h-96">
      <h1 class="text-xl font-bold">{{ player['display_first_last'] }}</h1>
      <div class="flex gap-2">
        <p>{{player['height']}} "</p>
        <p>{{player['weight']}} lbs</p>
      </div>
      <p>Team: {{ player['team_name'] }}</p>
      <p>Position: {{ player['position'] }}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
