<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %} Player Stats {% endblock %}
{% block content %}
{% include 'components/header.html' %} 
{% include 'components/usernav.html' %}

<div class="container mx-auto p-10 my-14 overflow-scroll">
  <h1 class="text-center text-4xl font-black">Player Stats</h1>
  <p class="text-center text-2xl font-extralight mt-4 mb-14">
    View all Player Stats here!
  </p>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border-collapse border border-gray-200">
      <thead>
        <tr class="bg-slate-400 border-gray-200 border-b">
          <th class="py-2 px-4 w-80 border border-gray-500 text-left">
            Player
          </th>
          <th class="py-2 px-4 border border-gray-500 text-left">Height</th>
          <th class="py-2 px-4 border border-gray-500 text-left">Weight</th>
          <th class="py-2 px-4 border border-gray-500 text-left">Team</th>
          <th class="py-2 px-4 border border-gray-500 text-left">Position</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr class="hover:bg-gray-100">
          <td class="py-2 px-4 border-b border-gray-200 font-bold">
            {{ player['display_first_last'] }}
          </td>
          <td class="py-2 px-4 border-b border-gray-200">
            {{ player['height'] }} "
          </td>
          <td class="py-2 px-4 border-b border-gray-200">
            {{ player['weight'] }} lbs
          </td>
          <td class="py-2 px-4 border-b border-gray-200">
            {{ player['team_name'] }}
          </td>
          <td class="py-2 px-4 border-b border-gray-200">
            {{ player['position'] }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
