<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}fantasy-hoops{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>
  <body class="text-gray-800 flex flex-col min-h-dvh">
    <!-- prettier-ignore -->
    {% block nav %} 
      {% include 'components/nav.html' %}
      {% include 'components/usernav.html' %}

    {% endblock %}
    <main class="h-screen w-full bg-white">
      <!-- prettier-ignore -->
      {% block content %} 
        {% include 'index.html' %} 
      {% endblock %}
    </main>
    <!-- prettier-ignore -->
    {% block footer %} 
      {% include 'components/footer.html' %} 
    {% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
