<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}fantasy-hoops{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
    {% endblock %}
  </head>
  <body class="bg-slate-300 text-gray-800 flex flex-col min-h-dvh">
    <!-- prettier-ignore -->
    {% block nav %} 
      {% include 'components/nav.html' %}
    {% endblock %}
    <main class="h-screen w-full bg-white">
      <!-- prettier-ignore -->
      {% block content %} 
        {% include 'index.html' %} 
      {% endblock %}
    </main>
    <!-- prettier-ignore -->
    {% block footer %} 
      {% include 'components/footer.html' %} 
    {% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
