<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
  </head>
  <body class="bg-slate-300 text-gray-800 flex flex-col min-h-dvh">
    {% include 'components/nav.html' %} {% include 'login_modal.html' %}
    <main class="h-screen overflow-hidden w-full bg-white">
      {% block content %}{% endblock %}
    </main>

    <div>{% include 'components/footer.html' %}</div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  </body>
</html>
