<nav class="bg-slate-300 border-b-2 border-slate-500 w-full h-14 px-10 font-semibold">
  <ul class="flex h-14 justify-between items-center">
    <li class="flex items-center gap-5">
      <!-- LINK TO INDEX.HTML -->
      <a href="/">Home</a>
      <!-- LINK TO PLAY WITH FRIENDS -->
      <a href="/">Play With Friends</a>
    </li>
    <li class="flex items-center">
      <!-- BUTTON TO TRIGGER LOGIN MODAL -->
       <a href="/register" class="text-black hover:text-slate-900 hover:drop-shadow-2xl">Login</a>
      <!-- USER ICON -->
      <span class="ml-5 h-10 w-10 bg-slate-500 border-2 border-slate-600 rounded-full"></span>
    </li>
    </li>
  </ul>
</nav>
