<style>
  .cursor-pointer {
    cursor: pointer;
  }
</style>
<nav class="flex justify-center bg-slate-300 border-b-2 border-slate-500 w-full h-14 px-10 font-semibold">
  <ul class="flex h-14 justify-between items-center w-7/12">
    <li class="flex items-center gap-5">
      <!-- HEADER -->
       <div class="flex items-center">
         <a href="/" class="flex gap-1">
           {% include 'components/basketball.html' %}
          <div class="flex flex-col justify-center">
            <h1 class="text-sm leading-[14px]">Fantasy</h1>
          <h1 class="font-black leading-[14px]">Hoops</h1>
        </div>
      </a>
        <div class="ml-4 h-5 w-px bg-black mx-2"></div>
       </div>
      <!-- LINK TO INDEX.HTML -->
      <!-- <a href="/" class="text-slate-600 hover:text-black hover:drop-shadow-2xl" >Home</a> -->
      <!-- LINK TO PLAY WITH FRIENDS -->
      <a href="/" class="font-kanit text-lg font-light hover:border-b-2 border-b-slate-600 text-slate-600 hover:font-normal hover:drop-shadow-2xl">Play With Friends</a>

    </li>
    <li class="flex items-center gap-5 ">
      <!-- BUTTON TO TRIGGER LOGIN MODAL -->
      {% if user_info %}
       <!-- USER INFO CONTAINER -->
       <div class="relative group cursor-pointer">
        <!-- USERNAME OR EMAIL -->
         <div class="hover:text-black w-40 hover:drop-shadow-2xl block text-right">
           <p class="text-slate-600 text-lg font-kanit font-light hover:font-normal group-hover:hidden">{{ user_info.email_prefix or user_info.username }}</p>
         </div>
        <!-- LOGOUT BUTTON -->
         <div class="hidden text-lg group-hover:block w-40 hover:font-normal hover:drop-shadow-2xl text-right">
            <a href="/logout" class=" text-slate-600 font-kanit border-b-2 border-b-slate-600">Logout</a>
         </div>
      </div>
    {% else %}
      <!-- BUTTON TO TRIGGER LOGIN MODAL -->
      <a href="/login" class="text-slate-600 font-light font-kanit border-2 hover:bg-slate-500 hover:text-white border-slate-700 rounded-lg px-3 py-0.5">Login</a>
    {% endif %}
      <!-- USER Coins -->
      {% if user_info %}
      <div class="flex gap-1 p-2 rounded-md items-center hover:backdrop-blur-sm">
          <p class="text-lg text-slate-600  font-kanit font-light hover:font-normal leading-[14px] .coin-balance.points">
              {{ user_info.user_team.total_points }}
          </p>
          <span class="size-6">
              {% include 'components/points.html' %}
          </span>
          <div class="w-2"></div>
          <p class="text-lg text-slate-600 font-kanit font-light hover:font-normal leading-[14px] coin-balance">
              {{ user_info.user_team.coins }}
          </p>
          <span class="size-5">
              {% include 'components/gem.html' %}
          </span>
      </div>
      {% endif %}   
    </li>
    </li>
  </ul>
</nav>

