<nav class="flex justify-center bg-slate-300 border-b-2 border-slate-500 w-full h-14 px-10 font-semibold">
  <ul class="flex h-14 justify-between items-center w-7/12">
    <li class="flex items-center gap-5">
      <!-- HEADER -->
       <div class="flex items-center gap-1">
         {% include 'components/basketball.html' %} 
         <div class="flex flex-col justify-center">
           <h1 class="text-sm leading-[14px]">Fantasy</h1>
           <h1 class="font-black leading-[14px]">Hoops</h1>
         </div>
        <div class="ml-4 h-5 w-px bg-black mx-2"></div>
       </div>
      <!-- LINK TO INDEX.HTML -->
      <a href="/" class="text-slate-600 hover:text-black hover:drop-shadow-2xl" >Home</a>
      <!-- LINK TO PLAY WITH FRIENDS -->
      <a href="/" class="text-slate-600 hover:text-black hover:drop-shadow-2xl">Play With Friends</a>
    </li>
    <li class="flex items-center gap-5 ">
      <!-- BUTTON TO TRIGGER LOGIN MODAL -->
      {% if user_info %}
      <!-- DISPLAY USERNAME OR EMAIL -->
      <a href="/profile" class="text-slate-600 hover:text-black hover:drop-shadow-2xl">{{ user_info.username or user_info.email }}</a>
      <!-- DISPLAY LOGOUT BUTTON -->
      <a href="/logout" class="text-slate-600 hover:text-black hover:drop-shadow-2xl">Logout</a>
    {% else %}
      <!-- BUTTON TO TRIGGER LOGIN MODAL -->
      <a href="/login" class="text-slate-600 hover:text-black hover:drop-shadow-2xl">Login</a>
    {% endif %}
      <!-- USER ICON -->
      <span class="ml-5 h-10 w-10 bg-slate-500 border-2 border-slate-600 rounded-full"></span>
    </li>
    </li>
  </ul>
</nav>
