<div class="flex justify-center h-12 w-full">
  <div
    class="w-7/12 border-x-2 border-b-2 border-slate-600 flex justify-center items-center gap-5 bg-[#fc9004] text-white font-semibold"
  >
    <a href="/myteam">My Team</a>
    <div class="h-5 w-px bg-white mx-2"></div>
    <a href="/playershop">Create Team</a>
    <div class="h-5 w-px bg-white mx-2"></div>
    <a href="/playerstats">Player Stats</a>
    <div class="h-5 w-px bg-white mx-2"></div>
    <a href="/leaderboards">Leaderboards</a>
    <div class="h-5 w-px bg-white mx-2"></div>
    <a href="/gameschedule">Game Schedule</a>
  </div>
</div>
