<div class="flex justify-center h-12 w-full">
  <div
    class="flex justify-center items-center gap-5 bg-orange-500 text-white font-semibold w-[900px]"
  >
    <button onclick="loadContent('/myteam', 'My Team')">My Team</button>
    <div class="h-8 w-px bg-white mx-2"></div>
    <button onclick="loadContent('/playershop', 'Player Shop')">
      Player Shop
    </button>
    <div class="h-8 w-px bg-white mx-2"></div>
    <button onclick="loadContent('/playerstats', 'Player Stats')">
      Player Stats
    </button>
    <div class="h-8 w-px bg-white mx-2"></div>
    <button onclick="loadContent('/leaderboards', 'Leaderboards')">
      Leaderboards
    </button>
    <div class="h-8 w-px bg-white mx-2"></div>
    <button onclick="loadContent('/gameschedule', 'Game Schedule')">
      Game Schedule
    </button>
  </div>
</div>
