<div class="flex justify-center h-12 w-auto bg-transparent">
  <div
    class="border-x-2 border-b-2 border-orange-300 flex justify-center items-center gap-5 bg-orange-500 text-white font-semibold w-[900px]"
  >
    <a href="/myteam">My Team</a>
    <div class="h-8 w-px bg-white mx-2"></div>
    <a href="/playershop">Create Team</a>
    <div class="h-8 w-px bg-white mx-2"></div>
    <a href="/playerstats">Player Stats</a>
    <div class="h-8 w-px bg-white mx-2"></div>
    <a href="/leaderboards">Leaderboards</a>
    <div class="h-8 w-px bg-white mx-2"></div>
    <a href="/gameschedule">Game Schedule</a>
  </div>
</div>
